{% extends "base.html" %} {% block content%}

<section id="user_register">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-4 mx-auto">
        <div class="card bg-primary text-center">
          <div class="card-body text-light">
            <h3>Sign up</h3>
            <p> Enter your new user account information.</p>
            <form method="POST">
              {{form.hidden_tag()}}
              <div class="mb-3">
                {{ render_field(form.username,placeholder ="UserName",
                class="form-control form-control-lg")}}

                <div class="mb-3">
                  {{ render_field(form.password,placeholder ="Password",
                  class="form-control form-control-lg")}}
                </div>
                <div class="mb-3">
                  {{ render_field(form.pass_confirm,placeholder
                  ="password(confirm)", class="form-control form-control-lg")}}
                </div>
                {{form.submit(class="btn btn-out-line-light w-100")}}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}