{% extends "base.html" %} {% block content%}
<h1>Is this the right stock to add?</h1>
<div class="row">
    <div class="col-md-8">
        <div class="panel-heading my-2"></div>

        <table class="table" name="現在の在庫">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">StockName</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Manage</th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>{{ stock.id }}</td>
                    <td>{{ stock.stock_name }}</td>
                    <td>{{ stock.quantity }}</td>
                </tr>

            </tbody>

        </table>

        <div class="input-group">

            <form method="POST">
                {{form.hidden_tag()}}
                <div class="modal-body">
                    {{form.quantity.label(class="form-control-label")}}
                    {{form.quantity(class="form-control")}}


                </div>
                <div class="modal-footer">
                    {{form.submit(class="btn btn-warning")}}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}